@page "/about"
@inject BrandProvider Brand
<AppIntro />

<Divider />

<DisplayHeading Size="DisplayHeadingSize.Is3">What's new in @Brand.AppName?</DisplayHeading>

<Paragraph>
    🎉🎉🎉 <span style="font-weight: bold;"><em>The merger is here! </em></span> 🎉🎉🎉
</Paragraph>
<Paragraph>
    @Brand.ToolName(NameFormat.Long) is now available! This tool condenses all the power of @Brand.ShortName into a tool you can easily run on your own PC to merge @Brand.ToolName(NameFormat.Short)-compatible mods into a ready-to-play merged mod including support for reading patches from your installed mods and even adding custom skin slots!  
</Paragraph>
<Paragraph>
    Check out all the details in the <Link To="/merger">Merger section</Link>.
</Paragraph>

<Divider />


<DisplayHeading Size="DisplayHeadingSize.Is3">About datatable mods</DisplayHeading>
<Paragraph>
    In general, a datatable mod is any mod that modifies the structures that Project Wingman uses to store a lot of variables and records used in the game. In particular, most mods that change aircraft statistics, capabilities or weapons are usually datatable mods, which are frequently incompatible with each other because of how the game loads mods.
</Paragraph>
<DisplayHeading Size="DisplayHeadingSize.Is4">How does it work?</DisplayHeading>
<Paragraph>
    The mods available in @Brand.AppName are not actually complete mods: they're simple files that define the <em>changes</em> to the game's datatables rather than recreating them. When you pick your mods and build a merged mod, @Brand.AppName will apply those edits in order to the vanilla game files and produce a single mod.
</Paragraph>
<DisplayHeading Size="DisplayHeadingSize.Is4">Compatibility</DisplayHeading>
<Paragraph>
    Note that just because edits are built using @Brand.ShortName, that does not mean that all mods will be compatible with each other. For example, if you include two mods that modify weapons for the same plane, more than likely only one of them will be applied. This is a limitation in the modding method being used and isn't something that authors (or @Brand.AppName) can reasonably resolve.
</Paragraph>

<Divider />