@page "/build"
@using System.IO
@inject IMediator Mediator
@inject IJSRuntime JsRuntime
@attribute [Authorize(Policy = Policies.IsUser)]
<h3>Build Merged Mod</h3>
@if (AvailableMods.Any())
{
    <Row>
        <Column ColumnSize="ColumnSize.Is6.OnFullHD.Is12.OnWidescreen">
            <div class="mod-selection" style="max-height: 60vh;">
                <ModSelection AvailableMods="@AvailableMods.Values" OnModDisabled="@(mf => SortedMods.Remove(mf))" OnModEnabled="@((mf) => SortedMods.Add(mf))"/>
            </div>
        </Column>
        <Column ColumnSize="ColumnSize.Is6.OnFullHD.Is12.OnWidescreen">
            <div class="mod-params" style="max-height: 60vh;">
                <ParameterList Mods="@SortedMods" InputParameters="@InputParameters" />
            </div>
        </Column>
        </Row>
            <Row>
        @if (SortedMods.Any())
        {
            <Column ColumnSize="ColumnSize.Is6.OnFullHD.Is8.OnWidescreen.Is12.OnTablet">
                <Card>
                    <CardHeader>Enabled Mods</CardHeader>
                    <CardBody Style="max-height: 60vh;">
                        <CardText>
                            You have enabled @SortedMods.Count mods to modify @GetEnabledFileCount files.
                            <ModOrder @ref="_loadOrder" Order="SortedMods"></ModOrder>
                        </CardText>
                    </CardBody>
                </Card>
            </Column>
        }

    
        @if (ReadyToBuild)
        {

            <Column ColumnSize="ColumnSize.Is4.Is2.WithOffset.OnFullHD.Is4.OnWidescreen.Is12.OnTablet">
                <BuildAction BuildParameters="@InputParameters" Mods="@SortedMods" />
            </Column>
        }
    </Row>
}
else
{
    <Row Gutter=(32,16)>
        <Column ColumnSize="ColumnSize.Is8.Is2.WithOffset">
            <Container Style="margin-top: 1.5em;">
                <Alert Color="Color.Primary" Visible="true">
                    There are no mods currently available!
                </Alert>
            </Container>
        </Column>
    </Row>  
}


@code {
    private Dictionary<string, WingmanMod> AvailableMods { get; set; } = new Dictionary<string, WingmanMod>();
    // private Dictionary<string, int> ModPriority { get; set; } = new Dictionary<string, int>();
    /*private List<KeyValuePair<string, int>> SortedMods
    {
        get
        {
            return ModPriority.OrderBy(d => d.Value).ToList();
        }
    }*/

    private List<WingmanMod> SortedMods { get; set; } = new List<WingmanMod>();

    private SafeDictionary<string, string> InputParameters { get; set; } = new SafeDictionary<string, string>(string.Empty);
    
    [CascadingParameter(Name = "SnackbarStack")] 
    SnackbarStack snackbarStack { get; set; }
    
    [CascadingParameter]
    private Task<AuthenticationState> authenticationStateTask { get; set; }

    private ModOrder _loadOrder;

    private bool ReadyToBuild => this.SortedMods.Any();
    /*private FileInfo ResultFile { get; set; }
    private bool AutoPack {get;set;} = true;
    private bool IsBuilding { get; set; }*/

    protected override async Task OnInitializedAsync()
    {
        var state = await authenticationStateTask;
        if (state.User?.Identity?.Name != null)
        {
            AvailableMods = await Mediator.Send(new ModsRequest {IncludePrivate = true, UserName = state.User.Identity.Name});
        }
        else
        {
            AvailableMods = await Mediator.Send(new ModsRequest());            
        }
        
    }
    
    public int GetEnabledFileCount => SortedMods.ToFileCount();

}