@page "/build"
@inject IConfiguration _configuration
@inject IMediator Mediator
@inject IJSRuntime JsRuntime
@attribute [Authorize(Policy = Policies.IsUser)]
<h3>Build Merged Mod <Button Class="context-btn" Clicked="() => _modalRef.Show()"><Icon Name="IconName.QuestionCircle" /></Button></h3>
@if (AvailableMods.Any())
{
    <Row>
        <Column ColumnSize="ColumnSize.Is6.OnFullHD.Is12.OnWidescreen">
            <div class="mod-selection" style="max-height: 60vh;">
                <ModSelection AvailableMods="@AvailableMods.Values" OnModDisabled="@(mf => SortedMods.Remove(mf))" OnModEnabled="@((mf) => SortedMods.Add(mf))"/>
            </div>
        </Column>
        <Column ColumnSize="ColumnSize.Is6.OnFullHD.Is12.OnWidescreen">
            <div class="mod-params" style="max-height: 60vh;">
                <ParameterList Mods="@SortedMods" InputParameters="@InputParameters" />
            </div>
        </Column>
        </Row>
            <Row>
        @if (SortedMods.Any())
        {
            <Column ColumnSize="ColumnSize.Is6.OnFullHD.Is8.OnWidescreen.Is12.OnTablet">
                <Card>
                    <CardHeader>Enabled Mods</CardHeader>
                    <CardBody Style="max-height: 60vh;">
                        <CardText>
                            You have enabled @SortedMods.Count mods to modify @GetEnabledFileCount files.
                            <ModOrder @ref="_loadOrder" Order="SortedMods"></ModOrder>
                        </CardText>
                    </CardBody>
                </Card>
            </Column>
        }

    
        @if (ReadyToBuild)
        {

            <Column ColumnSize="ColumnSize.Is4.Is2.WithOffset.OnFullHD.Is4.OnWidescreen.Is12.OnTablet">
                <BuildAction SkipTerms="@_skipTerms" BuildParameters="@InputParameters" Mods="@SortedMods" />
            </Column>
        }
    </Row>
}
else
{
    <Row Gutter=(32,16)>
        <Column ColumnSize="ColumnSize.Is8.Is2.WithOffset">
            <Container Style="margin-top: 1.5em;">
                <Alert Color="Color.Primary" Visible="true">
                    There are no mods currently available!
                </Alert>
            </Container>
        </Column>
    </Row>  
}
<Modal @ref="_modalRef">
    <ModalContent IsCentered="true">
        <ModalHeader>
            <ModalTitle>How to build a merged mod</ModalTitle>
            <CloseButton Clicked="() => _modalRef.Hide()" />
        </ModalHeader>
        <ModalBody>
            <HowtoGuide Title="" />
        </ModalBody>
        <ModalFooter>
            <Button Color="Color.Secondary" Clicked="@(() => _modalRef.Hide())">Close</Button>
        </ModalFooter>
    </ModalContent>
</Modal>

@code {
    private Dictionary<string, WingmanMod> AvailableMods { get; set; } = new Dictionary<string, WingmanMod>();

    private List<WingmanMod> SortedMods { get; set; } = new List<WingmanMod>();

    private SafeDictionary<string, string> InputParameters { get; set; } = new SafeDictionary<string, string>(string.Empty);
    
    [CascadingParameter(Name = "SnackbarStack")] 
    SnackbarStack SnackbarStack { get; set; }
    
    [CascadingParameter]
    private Task<AuthenticationState> authenticationStateTask { get; set; }

    private ModOrder _loadOrder;

    private Modal _modalRef;
    private bool _skipTerms;

    private bool ReadyToBuild => this.SortedMods.Any();

    protected override async Task OnInitializedAsync()
    {
        var state = await authenticationStateTask;
        if (state.User?.Identity?.Name != null)
        {
            AvailableMods = await Mediator.Send(new ModsRequest {IncludePrivate = true, UserName = state.User.Identity.Name});
        }
        else
        {
            AvailableMods = await Mediator.Send(new ModsRequest());            
        }
        _skipTerms = _configuration.GetValue<bool>("SkipTerms");

    }

    private int GetEnabledFileCount => SortedMods.ToFileCount();

}