@page "/build"
@using System.IO
@inject IMediator Mediator
@inject IJSRuntime JsRuntime
<h3>Build Merged Mod</h3>
<Paragraph>Loaded @AvailableMods.Keys.Count mods</Paragraph>
@if (AvailableMods.Any())
{
    <Row>
        <Column ColumnSize="ColumnSize.Is6">
            <Card>
                <CardHeader>Available Mods</CardHeader>
                <CardBody>
                    <CardTitle>Select your mods to build:</CardTitle>
                    @foreach (var (modFile, mod) in AvailableMods)
                    {
                        <Check TValue="bool" CheckedChanged="(v) => OptionChecked(modFile, v)">@mod.GetLabel()</Check>
                    }
                </CardBody>
            </Card>
        </Column>
        @if (ModPriority.Keys.Any())
        {
            <Column ColumnSize="ColumnSize.Is6">
                <Card>
                    <CardHeader>Enabled Mods</CardHeader>
                    <CardBody>
                        <CardText>
                            You have enabled @ModPriority.Keys.Count mods to modify @GetEnabledFileCount files.
                            <ul class="list-group">
                                @foreach (var (enabledFile, priority) in SortedMods)
                                {
                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                        @AvailableMods[enabledFile].GetLabel() (@Path.GetFileName(enabledFile))
                                        <Tooltip Text="Use the priority to fine-tune the order your mods are applied" Placement="Placement.Left">
                                            <Buttons>
                                                <Button Color="Color.Light" Clicked="() => OnChangePriority(enabledFile, true)"><Icon Name="IconName.AngleUp" /></Button>
                                                @* <Button Style="min-width: 48px;" Disabled="true" Color="Color.Dark"><Text Class="text-muted">@ModPriority[enabledFile]</Text></Button> *@
                                                <Button Color="Color.Light" Clicked="() => OnChangePriority(enabledFile, false)"><Icon Name="IconName.AngleDown" /></Button>
                                            </Buttons>
                                        </Tooltip>
                                    </li>
                                }
                            </ul>
                        </CardText>
                    </CardBody>
                </Card>
            </Column>
        }

    </Row>
    <Row>
        @if (ReadyToBuild)
        {

            <Column ColumnSize="ColumnSize.Is4.Is8.WithOffset">
                <div class="container action-container">
                    <Text Color="TextColor.Muted">Ready to build your mod!</Text>
                    <Check TValue="bool" @bind-Checked="@AutoPack">Automatically pack final mod</Check>
                    <Button Clicked="@OnStartBuild" Color="Color.Primary">Start Build</Button>
                    @if (ResultFile != null && ResultFile.Exists)
                    {
                        <Button Clicked="@OnDownloadResult" Color="Color.Success">Download Merged File</Button>
                    }
                </div>
            </Column>
        }
    </Row>
}
<SnackbarStack @ref="snackbarStack" Interval="2000" Location="SnackbarStackLocation.Left" />

@code {
    private Dictionary<string, Mod> AvailableMods { get; set; } = new Dictionary<string, Mod>();
    private Dictionary<string, int> ModPriority { get; set; } = new Dictionary<string, int>();
        private List<KeyValuePair<string, int>> SortedMods
        {
            get
            {
                return ModPriority.OrderBy(d => d.Value).ToList();
            }
        }
    
    private SnackbarStack snackbarStack;

    private FileInfo ResultFile { get; set; }
    private bool ReadyToBuild => this.ModPriority.Keys.Any();
    private bool AutoPack {get;set;} = true;

    protected override async Task OnInitializedAsync()
    {
        AvailableMods = await Mediator.Send(new ModsRequest());
    }

    private async Task OnStartBuild()
    {
        var req = new PatchRequest(
            SortedMods
                .ToDictionary(k => k.Key, v => AvailableMods[v.Key])
            ) { PackResult = AutoPack};
        snackbarStack.Push("Queued mod build!", SnackbarColor.Success);
        var buildResult = await Mediator.Send(req);
        ResultFile = buildResult;
        //snackbarStack.Push("Merged file successfully built!", SnackbarColor.Success);
    }

    private void OptionChecked(string modFile, bool value)
    {
        switch (value)
        {
            case true when !ModPriority.ContainsKey(modFile):
                ModPriority.Add(modFile, 10);
                break;
            case false when ModPriority.ContainsKey(modFile):
                ModPriority.Add(modFile, 10);
                break;
        }
    }

    private async Task OnDownloadResult()
    {
        var bytes = await File.ReadAllBytesAsync(ResultFile.FullName);
        await JsRuntime.InvokeVoidAsync("BlazorDownloadFile", ResultFile.Name, ResultFile.Extension == ".zip" ? "application/zip" : "application/octet-stream", bytes);
        ResultFile.Delete();
    }

    public int GetEnabledFileCount
    {
        get
        {
            return ModPriority.Keys.Select(em => AvailableMods[em]).SelectMany(m =>
          m.FilePatches.Keys.ToList()).Distinct().Count();
        }
    }

    private void OnChangePriority(string modFile, bool decrement)
    {
        var existingPriority = ModPriority[modFile];
        if (decrement)
        {
            existingPriority--;
        }
        else
        {
            existingPriority++;
        }
        ModPriority[modFile] = existingPriority++;
        StateHasChanged();
    }

}